* {
    margin: 0;
    font-family: 'Work Sans';
}

/* Similar style section -------------------------------- */

.btn {
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    color: #005daa;
}

.btn:hover {
    background-color: #005daa;
    color: white;
    box-shadow: black 10px 10px 100px;
    border: 1px solid white;
}

.title {
    font-size: 40px;
    font-weight: 700;
}


/* Banner style section -------------------------------- */

.banner-container {
    background-image: url(assets/images/banner/banner3.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text-area {
    text-align: right;
    color: white;
    width: 50%;
    margin-left: 260px;
}

.banner-title {
    font-size: 55px;
}

.banner-description {
    padding-left: 200px;
    margin: 25px 0px;
}

/* previous year style section --------------------------- */

.failure-container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.failure-images {
    width: 50%;
}

.failure-text-area {
    width: 50%;
}

.failure-photo {
    width: 451px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.failure-text-description {
    width: 420px;
    padding: 20px 0px;
}

.failure-li {
    display: flex;
    gap: 5px;
}

/* My Plan Style Section------------------------------- */

.my-plan-container {
    height: 100vh;
}

.heading-title {
    font-size: 40px;
    text-align: center;
    padding: 40px;
}

.plan-lists {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    width: 85%;
    margin: auto;

}

.plan-list {
    text-align: center;

}

.plan-image {
    width: 80px;
    margin-bottom: 20px;
    
}

.plan-title {
    font-size: 25px;
    margin-bottom: 20px;

}

.plan-description {
    font-size: 20px;
    color: #737272;
    margin-bottom: 60px;
}

.apply-now-texts {
    background-image: url(assets/images/watch.png), linear-gradient(90deg,
    rgb(70, 70, 218), rgb(212, 151, 151));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1040px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    color: white;

}
.apply-title{
    font-size: 40px;
    padding: 35px;
}
.apply-btn{
    margin-left: 35px;
    
}